@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
html, body {padding:0;margin:0;}


body {
    overflow: hidden;
    background: #000;
    color: white;
    font-family: Lato;
    font-weight: 100;
    font-size: 2em;
    transition: background 2s;
    transition: color 2s;
}
a{
    text-decoration: none;
}
#title {
    font-size: 4em;
    text-align: center;
    transition: font-size 1s;
}
#date {
    text-align: center;
    font-size: 2em;
    transition: font-size 1s;
}
#weatherHolder {
    padding-top: 0.5em;
    text-align: center;
    padding-bottom: 0.5em;
}
#weatherTitle {
    text-align: center;

}
#temperature {
    font-size: 2em;

}

#reference{
    position:absolute;
    border: 1px solid #fff;
    width:1280px;
    height:1024px;
}
#calendar {
    margin-top: 400px;
    opacity: 0;
    transition: opacity 1s;
    transition: margin-top 1s;
    padding-bottom: 0.5em;
}
#calendarHolder{
    border: 0px solid #aaa;
    width:90%;
    margin: 0 auto;
    min-height:200px;
}
#calendarTitle{
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 0.3em;
}
.calendarEvent {
    padding-top: 0.5em;
    font-weight: 300;
    text-align: center;
}
#message {
    position: absolute;
    top: 40%;
    width: 90%;
    left: 5%;
    text-align: center;
    font-size: 1.8em;
    opacity: 0;
    transition: opacity 1s;
}
#bus {
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
    transition: margin-top 1s;
}
#busTime {
    border: 0px solid #aaa;
    width: 90%;
    margin: 0 auto;
    font-weight: 300;
    min-height: 250px;
}
#busTitle {
    font-size: 1.5em;
}
#weatherImage {
    padding-top: 0.4em;
}
#rainCheck {
    opacity: 0;
    transition: opacity 1s;
}