@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
html, body {padding:0;margin:0;}


body {
    background: #000;
    color: white;
    font-family: Lato;
    font-weight: 100;
    font-size: 2em;
}
a{
    text-decoration: none;
}

#title {
    font-size: 3em;
    text-align: center;
}
#weatherHolder {
    padding-top: 0.5em;
    text-align: center;
    padding-bottom: 0.5em;
}
#weatherTitle {
    text-align: center;

}
#temperature {
    font-size: 2em;

}

#reference{
    position:absolute;
    border: 1px solid #fff;
    width:1280px;
    height:1024px;
}
#calendarHolder{
    border: 1px solid #aaa;
    width:90%;
    margin: 0 auto;
    height:200px;
}
#calendarTitle{
    text-align: center;
    font-size: 1.5em;
}